.small {
    font-size: 60%;
}

#PlayerChoices {
    display: inline-block;
    float: left;

    margin-left:10px;
}

#PlanetVisualization {
    display: block;

    margin-left: 450px;
    margin-right: 200px;
}

#PlanetStatus {
    display: inline-block;
    float: right;

    margin-right:10px;
}

#Viewport {
    width: 800px;
    height: 400px;

    background-image: url('../graphics/map.png');
}

#Content {

}