.small {
    font-size: 60%;
}

#PlayerChoices {
    display: inline-block;
    float: left;
    border: 1px solid red;
}

#PlanetVisualization {
    display: block;
    border: 1px solid blue;
    margin-left: 300px;
    margin-right: 300px;
}

#PlanetStatus {
    display: inline-block;
    float: right;
    border: 1px solid green;
}

#Content {

}