<div id="Content">
    <div id="PlayerChoices">

        <div>
            <div>
                <p><b><span class="large">{{translate('Technologies')}}</span></b></p>
            </div>
            <div>
                <p><span class="large">{{translate('Core Element')}}</span></p>
                <div class="btn-group">
                    <button class="btn">{{translate('Water')}}</button>
                    <button class="btn">{{translate('Air')}}</button>
                    <button class="btn">{{translate('Earth')}}</button>
                </div>
            </div>

            <div>
                <p><span class="large">{{translate('Alimentation')}}</span></p>
                <div class="btn-group">
                    <button class="btn">{{translate('Hunting')}}</button>
                    <button class="btn">{{translate('Gathering')}}</button>
                    <button class="btn">{{translate('Farming')}}</button>
                </div>
            </div>
            <div>
                <p><span class="large">{{translate('Governance')}}</span></p>
                <div class="btn-group">
                    <button class="btn">{{translate('Democracy')}}</button>
                    <button class="btn">{{translate('Dictatorship')}}</button>
                    <button class="btn">{{translate('Technocracy')}}</button>
                </div>
            </div>
            <div>
                <p><span class="large">{{translate('Religion')}}</span></p>
                <div class="btn-group">
                    <button class="btn">{{translate('Holy Animals')}}</button>
                    <button class="btn">{{translate('Forbidden Knowledge')}}</button>
                    <button class="btn">{{translate('Eye for an Eye')}}</button>
                </div>
            </div>
            <div>
                <p><span class="large">{{translate('Ideology')}}</span></p>
                <div class="btn-group">
                    <button class="btn">{{translate('Free Love')}}</button>
                    <button class="btn">{{translate('Communism')}}</button>
                    <button class="btn">{{translate('Ecology')}}</button>
                </div>
            </div>
            <div>
                <p><span class="large">{{translate('Energy')}}</span></p>
                <div class="btn-group">
                    <button class="btn">{{translate('Renewable')}}</button>
                    <button class="btn">{{translate('Fossil')}}</button>
                    <button class="btn">{{translate('Nuclear')}}</button>
                </div>
            </div>
        </div>

    </div>

    <div id="PlanetStatus">

        <div>
            <p>
			<b><span class="large">{{translate('Planet_Status')}}</span></b></p>
        </div>

        <div>
            <p>
			<img src = "../../graphics/icon_pop.png"  width="32" height="32">
			<span class="large">{{translate('Population')}}</span></p>
        </div>

        <div>
            <p>
			<img src = "../../graphics/icon_food.png"  width="32" height="32">
			<span class="large">{{translate('Food')}}</span></p>
        </div>

        <div>
            <img src = "../../graphics/icon_animals.png"  width="32" height="32">
			<span class="large">{{translate('Animals')}}</span>           
			<div class="progress">
                <div class="bar" style="width: 60%;"></div>
            </div>
        </div>

        <div>
            <img src = "../../graphics/icon_stability.png"  width="32" height="32">
            <span class="large">{{translate('Stability')}}</span>
            <div class="progress">
                <div class="bar" style="width: 30%;"></div>
            </div>
        </div>

        <div>
			<img src = "../../graphics/icon_happiness.png"  width="32" height="32">
            <span class="large">{{translate('Happiness')}}</span>
            <div class="progress">
                <div class="bar" style="width: 60%;"></div>
            </div>
        </div>

        <div>
            <img src = "../../graphics/icon_tech.png"  width="32" height="32">
            <span class="large">{{translate('Technology')}}</span>
			<div class="progress">
                <div class="bar" style="width: 60%;"></div>
            </div>
        </div>

        <div>
			<img src = "../../graphics/icon_growth.png"  width="32" height="32">
            <span class="large">{{translate('Growth')}}</span>
            <div class="progress">
                <div class="bar" style="width: 60%;"></div>
            </div>
        </div>

        <div>
			<img src = "../../graphics/icon_pollution.png"  width="32" height="32">
            <span class="large">{{translate('Pollution')}}</span>
            <div class="progress">
                <div class="bar" style="width: 60%;"></div>
            </div>
        </div>

        <div>
			<img src = "../../graphics/icon_power.png"  width="32" height="32">
            <span class="large">{{translate('Energy')}}</span>
            <div class="progress">
                <div class="bar" style="width: 60%;"></div>
            </div>
        </div>

    </div>

    <div id="PlanetVisualization">
        <canvas id="Viewport">

        </canvas>
    </div>
</div>